h2 {

	margin: 0;
	text-indent: -10000px;
	width: 100%;
	max-width: 2146px;
	max-height: 733px;
	aspect-ratio: ~"2146/733";
	position: absolute;
	top: 0;
	left: 0;
	//z-index: -1;

	background: linear-gradient(0deg, rgba(0, 16, 48, 1) 0%, rgba(0, 16, 48, 1) 3%, rgba(0, 16, 48, 0) 15%, rgba(0, 16, 48, 0) 100%), url(/src/images/timber-valley.png);
	background-repeat: no-repeat;
	background-size: 100%;
}


#gameContainer {
	overflow: hidden;
}


#overlay {

	>div {
		z-index: 100;
	}
	p {
		font-family: "VT323", serif !important;
		font-size: 1rem !important;
	}
	background: #001030;
	padding: 20px !important;
	width: 100vw;
	height: 100vh;
}
