
:root {
  --color-01: #000;
  --color-02: #0000ff;
  --color-03: #ff0000;
  --color-04: #eee;
  --color-05: #ccc;
  --color-06: #ff00fe;
  --color-07: #00ff00;
  --color-08: #00ffff;
  --font-size: 16px;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
