@layer base, scoreboard, hotdog, start-button;

@import './src/styles/base.less';
@import './src/styles/game.less';
@import './src/styles/hotdog.less';
@import './src/styles/start-button.less';
@import './src/styles/title.less';
@import './src/styles/variables.less';

@font-face {
  src: url("/src/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-family: "PressStart2P-Regular";
  //font-family: "Press Start 2P", sans-serif;
  font-optical-sizing: auto;
  //font-weight: <weight>;
  font-style: normal;
}
@font-face {
  src: url("/src/fonts/VT323-Regular.ttf") format("truetype");
  font-family: "VT323-Regular";
  //font-family: "VT323", serif;
  font-weight: 200;
  font-style: normal;
}